body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #1f1f1f;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #d9d9d9;
}

p {
    text-align: left;
}
table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}
th, td {
	padding: 3px;
	text-align: left;    
}

#sessionslist td {cursor: pointer;}
#sessionslist tr:nth-child(odd) { background-color : #696969; }
#sessionslist tr:nth-child(even) { background-color : #808080; }
#sessionslist tr:hover { background-color : #2F4F4F; }
#sessionslist tr:nth-child(odd).selected { background-color : #1E90FF; }
#sessionslist tr:nth-child(even).selected { 	background-color : #1E90FF; }

.button {
    display: inline;
    color: #fff;
    background-color: #f2791d;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #ffb15e;
}
.button a, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}


#rest {
    text-align: left;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#content {
    margin: auto;
    width: 960px;
}

.device {
    width: 180px;
    height: 160px;
    margin: 10px;
    padding: 16px;
    color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.device.off {
    background-color: #c8cccf;
}

.device span {
    display: block;
}

.deviceName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.removeDevice {
    margin-top: 12px;
    text-align: center;
}

.device.Student {
    background-color: #5eb85e;
}

.device.Student a:hover {
    color: #a1ed82;
}

.device.Teacher {   
    background-color: #0f90d1;
}

.device.Teacher a:hover {
    color: #4badd1;
}

.device.Annalist {
    background-color: #c2a00c;
}

.device.Annalist a:hover {
    color: #fad232;
}

.device.Other {
    background-color: #db524d;
}

.device.Other a:hover {
    color: #ff907d;
}

.device a {
    text-decoration: none;
}

.device a:visited, a:active, a:hover {
    color: #fff;
}

.device a:hover {
    text-decoration: underline;
}