#Executables
target
target
dependency-reduced-pom.xml
resources/catalog-v001.xml
resources/ontology.acacia.red.postman_collection.json
doc/Local.postman_environment.json
doc/Server.postman_environment.json
doc/ontology.acacia.red.postman_collection.json
doc/psql.sql
resources/ontology1.owl
resources/ontology2.owl
resources/ontology3.owl
resources/ontology3.owl
ontology.owl
/prod.yml
/prod.yml
prod.yml
prod.yml
logs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/doc/globals.postman_globals.json
