.package {
	padding: 3px;
	border-radius: 2px;
	margin-top: 3px;
}

.course {
	background-color: #09556F;
}

.module {
	background-color: #0E627E;
}

.header .clickable {
	cursor: pointer;
	display: inline-block;
}

.arrow {
	background-image: url("../img/d.png");
	background-repeat: no-repeat;
	background-color: transparent;
	height: 15px;
	width: 15px;
	display: inline-block;
}

.open .arrow {
	background-position: -20px 0;
}

.closed .arrow {
	background-position: 0 0;
}

.name {
	color: white;
	margin-left: 2px;
}

.follow {
	float: right;
}

.summary {
	margin-left: 16px;
	color: gainsboro;
}

.children {
	margin-left: 16px;
}
